.searchResult {
    margin: 10px 10px 10px 0px;
    float: right;
    width: 60%;
    left: 35%;
}

.searchTitle {
    margin-left: 60px;

}

.profilePic {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    float: left;
}

.searchUsername {
    color: black;
    float: left;
    font-weight: bold;
    position: relative;
    left: 10%;
    margin-top: 13px;
    font-size: 20px;
}

.userList {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    /*height: 80px;*/
}

.followBtn {
    /*border-style: solid;*/
    width: 100px;
    right: 10%;
    position: relative;
    margin-top: 28px;
    float: right;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.followBtn:hover {
    color: white;
    background-color: #355070;
}