.repo_thumbnail{
    max-width: 5rem;
    position: absolute;
    z-index: -99;
    right: 0;
    margin-right: 3rem;
}
.repo_title{
    margin-top: 1rem;
}

.repo_description{
    position: absolute;
    height: 10rem;
    border: 1px solid black;
    max-width: 30rem;
    margin-top: -8rem;
    overflow-y: auto;
    overflow-x: hidden;
    right: 0;
    margin-right: 3rem;
}
.repo_description>:nth-child(1){
    margin-left:1rem;
    font-size: 1.5rem;
    margin-right: 1rem;
    padding: 0px !important;
    height: 1.5rem;
    width: 100%;
}
.repo_description>:nth-child(2){
    margin-left:1rem;
    margin-right: 1rem;
    /* margin-right: 1rem; */
    width: 90%;
}
.name_and_share_btn { }

.name_btn {
    float: left;
}

.share_btns {
    padding-top: 5px;
}

.bpm_key_tags {

}

.repo_likes{
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
}

.repo_buttons_class{
    display: flex;
    align-items: center;
}

.comment_button{
    float: left;
    margin-top: 1rem;
    height: 2rem;
    width: 100px;
    margin-bottom: 1rem;
    background-color: #33A1FD;
    color: white;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
}
.comment_button:hover{
    transition: 0.25s;
    filter: invert(100%);
}
.display_repo_comments{
    height: 10rem;
    background-color: ivory;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    left:0;
    display: inline-block;
    margin-bottom: 1rem;
}

.display_repo_comments>:nth-child(1){
    position: relative;
    left: 0;
    /* background-color: black; */
    width: 100%;
    float:left;
}
