.repo_thumbnail{
    max-width: 5rem;
    position: absolute;
    z-index: -99;
    right: 0;
    margin-right: 2rem;
}
.repo_title{
    margin-top: 1rem;
    margin-left: 2rem;
}

.repo_description{
    position: absolute;
    height: 10rem;
    border: 1px solid black;
    max-width: 30rem;
    margin-top: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    right: 0;
    margin-right: 2rem;
}
.repo_description>:nth-child(1){
    margin-left:2rem;
    font-size: 1.5rem;
    padding: 0px !important;
    height: 1.5rem;
    width: 100%;
}
.repo_description>:nth-child(2){
    margin-left:2rem;
    /* margin-right: 1rem; */
    width: 90%;
}
