body {
    background-color: rgba(152, 193, 217, 0.15);
}

.nav_bar {
    height: 10%;
    width: 100%;
    background-color: #355070;
}

.nav_bar_logo {
    border-radius: 80%;
    height: 60px;
    width: 60px;
    margin-left: 20px;
    margin-bottom: 1px;
    margin-top: 4.5px;
    background-color: transparent;
}

.search_bar {
    float: right;
    position: absolute;
    top: 20px;
    width: 371px;
    height: 40px;
    left: 120px;
}

.search_input {
    border-radius: 10px;
}

.user_dropdown {
    background-color: black;
    color: black;
    border: none;
    float: left;
    position: absolute;
    width: 100px;
    height: 40px;
    right: 30px;
    top: 15px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2),0 7px 5px 0 rgba(0,0,0,0.1);
}

.dropdown_property {
    position: absolute;
    background-color: transparent;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}