#profileInfo {
    position: absolute;
    float: left;
    margin-left: 108px;
    left: 108px;
}

#editProfilePicBtn {
    width: 250px;
    height: 30px;
    position: relative;
    left: 50px;
    background-color: white;
    border-color: lightslategrey;
    border-style: solid;
}

#editProfilePicBtn:hover {
    background-color: aliceblue;
}