#username {
    width: 308px;
    text-align: center;
    top: 331px;
}

#bio {
    width: 90%;
    margin-left: 1rem;
    text-align: left;
}
.bio_div{
    border: 1px solid black;
    height: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
}