@keyframes glow {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

.sine_wave {
    animation-name: glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}