.repo_links {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.repo_links:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.repo_links:hover {
    background-color: #3e8e41;
}

.repo_button{
    border-radius: 0.5rem;
    width: 450%;
    background-color: transparent;
    height: 5rem;
    margin-bottom: 1rem;
    font-size: 20px;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: left;
}

.repo_button:hover{
    background-color: #355070;
    color: white;
    transition: 0.25s;
}
