# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\wavBase-test\react-firebase\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
